* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {

    margin: 0;

    background: #f2f2f2;

    color: #111;

}



header {

    background: #111;

    color: white;

    text-align: center;

    padding: 20px;

}



header h1 {

    margin: 0;

    font-size: 26px;

}



#status {

    margin-top: 10px;

    font-size: 14px;

}






nav {

    display: flex;

    justify-content: space-around;

    background: white;

    padding: 10px;

    position: sticky;

    top: 0;

}



nav button {

    border: none;

    background: #111;

    color: white;

    padding: 10px;

    border-radius: 10px;

    font-size: 14px;

}






.page {

    padding: 15px;

}



.hidden {

    display: none;

}






.dashboard {

    display: grid;

    grid-template-columns: repeat(3,1fr);

    gap: 10px;

}



.box {

    background: white;

    padding: 15px;

    border-radius: 15px;

    text-align: center;

    box-shadow: 0 3px 8px #ccc;

}



.box h3 {

    margin: 5px;

    font-size: 14px;

}



.box p {

    font-size: 18px;

    font-weight: bold;

}







.card {

    background:white;

    margin:15px 0;

    padding:15px;

    border-radius:15px;

    box-shadow:0 3px 10px #ccc;

}



.card h3 {

    margin-top:0;

}






.profit {

    color:green;

    font-weight:bold;

}



.loss {

    color:red;

    font-weight:bold;

}






#alerts {

    background:white;

    padding:15px;

    border-radius:15px;

    font-weight:bold;

}






input {

    width:100%;

    padding:15px;

    margin:8px 0;

    border-radius:10px;

    border:1px solid #ccc;

    font-size:16px;

}



button {

    cursor:pointer;

}






section button {

    background:#111;

    color:white;

    padding:12px;

    border:none;

    border-radius:10px;

}







@media(max-width:600px){


.dashboard {

    grid-template-columns:1fr;

}



nav {

    flex-wrap:wrap;

    gap:5px;

}



nav button {

    flex:1;

}


}