*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}


body{

background:#0b0f19;
color:white;
padding:20px;

}



header{

background:#151c2c;
padding:20px;
border-radius:20px;
margin-bottom:20px;

}



h1{

color:#00aaff;

}



nav{

display:flex;
gap:10px;
margin-bottom:20px;

}


button{

background:#008cff;
color:white;
border:none;
padding:12px;
border-radius:12px;
cursor:pointer;

}



button:hover{

opacity:0.8;

}




.dashboard{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:10px;

}



.box{

background:#151c2c;
padding:15px;
border-radius:18px;
text-align:center;

}



.card{

background:#151c2c;
padding:20px;
border-radius:20px;
margin-top:15px;

}



input{

width:100%;
padding:12px;
margin-top:10px;
border-radius:10px;
border:none;

}




.profit{

color:#00ff88;

}



.loss{

color:#ff5555;

}




.hidden{

display:none;

}